table#gameBoard td {
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 20pt;
    border: 2px solid;
}

table#gameBoard.enabled td {
    color: #2f2f2f;
}

table#gameBoard.enabled td:hover {
    background-color: lightgray;
    cursor: pointer;
}

table#gameBoard.disabled td {
    color: #b4b4b4;
}

table#gameBoard.disabled-in-game td {
    color: #2f2f2f;
}

table#gameBoard.disabled-in-game td:hover {
    background-color: initial;
    cursor: default;
}

table#gameBoard.disabled td:hover {
    background-color: initial;
    cursor: default;
}

label#opponent-label.enabled {
    display: initial;
    color: #2f2f2f;
}

label#opponent-label.disabled {
    display: none;
    color: #b4b4b4;
}

.opp-row {
    min-height: 30px;
    max-height: 30px;
}

.connect-btn {
    margin-right: 12px;
    width: 120px;
    text-align: center;
    align-self: center;
    vertical-align: middle;
    line-height: 20px;
    margin-bottom: 10px;
}

.row {
    margin-bottom: 20px;
}

.indicator.online {
    background: #28B62C;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.indicator.in-game {
    background: #d8c523;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

@-webkit-keyframes pulse-animation {
    0% { -webkit-transform: scale(1); }
    25% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.2) }
    75% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(1); }
}

.indicator.offline {
    background: #FF4136;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.user-tab {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
}

.status-tab {
    width: 10px;
    max-width: 10px;
    min-width: 10px;
}

.btn-play {
    line-height: 12px;
}

.btn-add-friend {
    line-height: 12px;
}

.btn-remove-friend {
    line-height: 12px;
}

#gameLabel {
    font-size: 16pt;
}

#give-up-btn {
    line-height: 16px;
    vertical-align: middle;
    margin-top: 20px;
    disabled: true;

}

.table-responsive {
    margin-top: 10px;
    display: block;
    min-height:150px;
    max-height:150px;
    overflow-y: scroll;
    border: 2px solid #e1e1e1;
    border-radius: 4px;
}

.chat-panel {
    border: 2px solid #b4b4b4;
    border-radius: 4px;
    padding: 10px;
}

#chat-label {
    font-size: 14pt;
    margin-left: 5px;
}

table#conversation td {
    border: none;
    border-bottom: 1px solid #e1e1e1;
}

#message-div {
    min-width: 70%;
    max-width: 70%;
}

#message {
    min-width: 100%;
    max-width: 100%;
}

#send {
    margin-left: 6px;
    margin-right: 15px;
    font-size: 14pt;
}
