table#gameBoard td {
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 20pt;
    border: 2px solid;
}

table#gameBoard td:hover {
    background-color: lightgray;
    cursor: pointer;
}

.connect-btn {
    margin-right: 12px;
    width: 120px;
    text-align: center;
    align-self: center;
    vertical-align: middle;
    line-height: 20px;
    margin-bottom: 10px;
}

.row {
    margin-bottom: 20px;
}

.indicator.online {
    background: #28B62C;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.indicator.in-game {
    background: #d8c523;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

@-webkit-keyframes pulse-animation {
    0% { -webkit-transform: scale(1); }
    25% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.2) }
    75% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(1); }
}

.indicator.offline {
    background: #FF4136;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.user-tab {
    width: 135px;
    max-width: 135px;
    min-width: 135px;
}

.status-tab {
    width: 20px;
    max-width: 20px;
    min-width: 20px;
}
